:root {
  --color-primary: #00acc1;
}
.text-primary {
  color: var(--color-primary);
}
.hover:text-primary {
  color: var(--color-primary);
}

.bg-primary {
  background-color: var(--color-primary);
}

.hover-bg-primary:hover {
  background-color: var(--color-primary);
}